header.top-header {
	background-color: #F5F8FA;
	margin-bottom: 20px;
	height: 32px;
	text-align: center;

	.logo {
		text-decoration: none;

		img {
			height: 100%;
		}
	}

	nav {
		position: absolute;
		right: 0;
		font-family: "OpenSans", sans-serif;
		font-size: 1.5rem;

		a {
			margin-right: 20px;
			text-decoration: none;
		}

		a:hover {
			text-decoration: underline;
		}
	}
}
